@import "/src/sass/colors";

.Footer_centr-section{
    margin-top: 35px;
    height: 232px;
    width: 248px;
    position: relative;
    strong{
        position: absolute;
        top: -45px;
        color: $grey-700;
        font-size: 18px;
        width: 250px;
    }
}