@import "../../sass//colors";

.Footer__nav{
  nav{
    display: flex;
    gap: 20px;
    flex-direction: column;
    a{
      color: $main-black;
      font-weight: 600;
    }
    .active{
      color: #dc2567;;
    }
    li{
      transition: 0.4s;
    }
    li:hover {
      transform: translate(-15px, -5px);
    }
  }
}